body {
  font-family: "Garamond";
}

li {
  list-style: none;
  font-size:19px;
  float: left;
  padding: 40px 50px;
  color: #bba187;
}

.header {
  background-color: #fae4cc;
  height: 90px;
  font-size: 50px;
}
.header-logo{
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  color: #bba187;
}

.main {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbuffer.com%2Fresources%2Fcoffee-shop-working%2F&psig=AOvVaw13ZT3dNXH3KefKdYMxDvG_&ust=1604327634812000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCnq6HI4ewCFQAAAAAdAAAAABAD);
  height: 1080px;
}

.footer {
  background-color: #ebd4b4;
  height: 270px;
}
