body {
  font-family: "Garamond";
}

li {
  list-style: none;
  font-size:19px;
  float: right;
  padding: 40px 50px;
  color: #000000;
}

.header {
  background-color: #fae4cc;
  height: 90px;
  font-size: 50px;
}
.header-logo{
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  color: #000000;
}

.main {
  background-image: url(https://www.indonesia.travel/content/dam/indtravelrevamp/en/trip-ideas/20-coffee-shop-s-that-you-will-need-to-enjoy-in-jakarta/image3.jpg);
  height: 1080px;
}

.contents {
  height: 500px;
  padding-top: 50px;
  background-color: #CBBCB1;
  text-align: center;
}

.section-title {
  border-bottom: 2px solid #AF6B58;
  Padding-bottom: 15px;
  margin-bottom: 50px;
}

.footer {
  background-color: #ebd4b4;
  height: 270px;
  color: #000000;
  text-align: center;
}
